testing
.terraform
.terraform.lock.hcl
.terragrunt-cache
__pycache__
.python_packages
.vscode
.venv
.funcignore
.idea
.gitignore
vidaa/
venv/
lib/
bin/
pyvenv.cfg
python-student/django-vue/client/django_tasks_client/node_modules
